.container {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: #333;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
}

.addButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #007bff;
}

.addButton:hover {
  color: #0056b3;
}

.commentBox {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f0f4f8;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #333;
}

.commentContent {
  margin-bottom: 10px;
  color: #333;
}

.commentFooter {
  display: flex;
  align-items: center;
  color: #aaa;
}

.commentAuthor {
  display: flex;
  align-items: center;
}

.commentAuthor img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.authorName {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #aaa;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
}

.button:hover {
  color: #0056b3;
}
