/* Reset 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f5f5f5;
}

.header {
  width: 100%;
  height: 62px;
  background-color: #fff;
  border-bottom: 1px solid #e8eef7;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content {
  display: flex;
  height: calc(100vh - 62px);
}

.sidebar1 {
  width: 65px;
  background-color: #fff; /* 임시 배경색 */
  border-right: 1px solid #e8eef7;
}

.sidebar1-block {
  height: 50px;
  width: 65px;
  background: #ffffff;
  border-right: 1px solid #e8eef7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar2 {
  width: 200px;
  background: #ffffff;
  border-right: 1px solid #e8eef7;
}

.sidebar2-block {
  height: 50px;
  width: 200px;
  background: #ffffff;
  border-bottom: 1px solid #e8eef7;
  border-right: 1px solid #e8eef7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.add-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-image: url("../images/create-manuscript.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.delete-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  background-image: url("../images/delete-manuscript.png");
  background-size: 12px 16px;
  background-repeat: no-repeat;
}

.item.selected {
  background-color: #e9ecef;
  border-color: #ced4da;
}

.main {
  width: calc(100% - 65px);
  background-color: #fff; /* 임시 배경색 */
  border-right: 1px solid #e8eef7;
}
