/* styles/quill-editor.css */
.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

#toolbar {
  background-color: white;
  height: 42px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  border: none;
}

.ql-container {
  /* width: 1000%; */
  max-height: calc(100vh - 62px - 40px - 20px - 60px - 40px);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  /* flex: 1; */
  width: "100%";
}

.ql-editor {
  width: 100%;
}

.ql-commented-string {
  background-color: #f8ff00;
  display: inline;
}
.ql-comment-string {
  display: none;
}

.editor-bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.ql-container-outside {
  width: 100%;
}

.comment-section {
  width: 400px;
}

.textLength-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  border: none;
}
